%p{:style => "color:white;"}
  %strong Name:
  = @user.name
%p{:style => "color:white;"} 
  %strong Email:
  = @user.email
%br
- if @user != @current_user
  - if @current_user.followees.include?(@user)
    = button_to "Unfollow", unfollow_user_path(@user.id) , method: "POST",class:"btn btn-secondary main-btn"
  - else
    = button_to "Follow", follow_user_path(@user.id) , method: "POST" ,class:"btn btn-primary  main-btn"
= button_to "Back", "/feed" , method: "get" ,class:"btn btn-secondary main-btn mt-4"

%br
- @user.posts.each do |post| 
  .card.mt-4{:style => "width: 50vw;"}
    .card-body.cardPost
      %h5.card-title= @user.name
      %h6.card-subtitle.mb-2.text-muted= post.created_at.to_formatted_s(:short)
      %pCard.card-text.fst-italic= post.msg
      %br
      - if post.user_likes.include?(@current_user)
        = button_to "Unlike", unlike_post_path(post.id) , method: "POST",class:"btn btn-primary unlike-btn mt-2"
      - else
        = button_to "Like", like_post_path(post.id) , method: "POST" ,class:"btn btn-secondary  like-btn mt-2"
      - if post.likes.count != 0
        %button.btn.btn-primary.btn-showUser.mt-2.modal-btn{"data-bs-target" => "#Like", "data-bs-toggle" => "modal", :type => "button","dataModal": post.user_likes.to_json }
        -#----------------number of like------------------
        = post.likes.count.to_s + " Likes"
 

.modal.fade{id: "Like",role: "modal","aria-hidden" => "true","taria-labelledby" => "exampleModalLabel",   :tabindex => "-1"}
  .modal-dialog.modal-dialog-scrollable
    .modal-content
      .modal-header
        %h5#exampleModalLabel.w-100.modal-title.text-center Like
        %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", :type  => "button"}
      .modal-body
        .div#mo_body{:style => "font-size:25px"}
      .modal-footer
        %button.btn.btn-secondary{"data-bs-dismiss" => "modal", :type => "button"} Close

:javascript
  $(".modal-btn").click(function(){
    $("#mo_body").empty();
    var userJson = $(this).attr("dataModal");
    var userObject = jQuery.parseJSON(userJson);
    userObject.forEach((user) =>{
      var link = `<a class = "card-link-feed" href ="profile/${user.name}"> ${user.name} </a> <br><br>`;
      $("#mo_body").append(link);   
    })
   
  });



